@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background: #EEAECA;
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container{
    padding: 1rem;
    border-radius: 1rem;
    height: 400px;
    width: 400px;
    background-color: aqua;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

header{
    text-align: center;
    border-bottom: solid black 1px;
    padding: 10px;
    
}

.chat-box{
    flex: 1;
    overflow-y: auto;
}

.message{
    margin: 10px 0;
    padding: 10px;
    border: solid black 1px;
    border-radius: 10px;
    max-width: 70%;
    line-height: 1.4;
}

.user-message{
    background-color: bisque;
    align-self: flex-end;
    margin-left: auto;

}

.bot-message{
    background-color: white;
    align-self: flex-start;
}

.input-area{
    display: flex;
    padding: 10px;
    border-top: solid black 1px;
}

#user-input{
    flex: 1;
    padding: 10px;
    outline: none;
    border: solid black 1px;
}

#send-btn{
    background-color: gray;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    transition: background 0.3s;

}

#send-btn:hover{
    background-color: green;
}